<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    <center>Artist Not Found</center>
  </div>

  <center><i class="frown icon custom"></i></center>

  <div class="actions">
    <div class="one fluid ui inverted buttons">
      <div class="ui green basic inverted button">

        <i class="search icon"></i>
        Search For Another Artist
      </div>
    </div>
  </div>
</div>