<!--MODAL-->
<div class="ui modal" id="modal-<%=index%>">
  <i class="close icon"></i>
  <div class="header">
    <%= artist_name %>
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img class="artist_profile_pic" src=" <%=profile_pic %>" alt=":)">
    </div>

  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!--MODAL-->