<div class="ui modal" id="modal-<%=index%>">
  <i class="close icon"></i>
  <div class="header">
    <%= artist_name %>
  </div>
  <div class="image content">
    <div class="ui medium image custom">
      <img src="<%= profile_pic %>">
    </div>
    <div class="description description_modal">
      <%= render partial: 'modals_table', locals:{ top_songs: artist_songs} %>
    </div>
  </div>
</div>
