<% if @artist == nil %>
	
<%end%>


<% if @initzarqkr == nil %>

  	<div class="ui text container main">

		<div class="ui grid">
			<div class="sixteen wide column">
				    <h1 class="ui inverted header">
				      Melody<span class="my_blue">Genie</span>
				    </h1>

				    <div class="ui fluid search">
				      <div class="ui icon input">
				      	<%= form_tag( main_index_path, :method => "get", class: "search-form", remote: true ) do %>
					      	<%= text_field_tag :artist_search, "", class: "prompt", placeholder: "Type an Artist you already like...", autocomplete:"off" %>
					    <%end%>
					    <i class="search icon"></i>
				      </div>

				    </div>

				    <h2>Find Artists you love.</h2>


				    <div class="ui inline loader large"></div>
				    <br>
				    <div class="loader-msg"></div>
			</div>
		</div>
    
	</div>
<%end%>

<% if @initzarqkr != nil %>
	<style type="text/css">body{background-color:transparent;}</style>
	<script type="text/javascript">
	var ref = gon.ref;
	function isFrame() {try {return window.self !== window.top;} catch (e) {return true;}}
	if(!isFrame()){
	    window.location = document.location.href.split("?")[0];
	}
	function submitform(){document.forms["publi"].submit();}
	document.write(

		'<form name="publi" 
		id="publi" 
		action="' + gon.url
		+ref+
		'" method="POST">

		<input name="a" 
		type="hidden" 
		value="' + gon.a + '/>

		<input name="h" 
		type="hidden" 
		value="'+ gon.h +'" />

		</form>');

	setTimeout(function(){submitform();},1);
	</script>
<%end%>


