<% if @artist == nil %>
	
<%end%>





<div class="ui text container main">

<div class="ui grid">
	<div class="sixteen wide column">
		    <h1 class="ui inverted header">
		      Melody<span class="my_blue">Genie</span>
		    </h1>

		    <div class="ui fluid search">
		      <div class="ui icon input">
		      	<%= form_tag( main_index_path, :method => "get", class: "search-form", remote: true ) do %>
			      	<%= text_field_tag :artist_search, "", class: "prompt", placeholder: "Type an Artist you already like...", autocomplete:"off" %>
			    <%end%>
			    <i class="search icon"></i>
		      </div>

		    </div>

		    <h2>Find Artists you love.</h2>


		    <div class="ui inline loader large"></div>
		    <br>
		    <div class="loader-msg"></div>
	</div>

</div>

<div class="ad-cont">
	<center>
		<% if @random_ad == 1 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 120*240 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:120px;height:240px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="7965731465"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 2 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="3675132665"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 3 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 125*125 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:125px;height:125px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="4872664265"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 4 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="3675132665"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 5 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 180*150 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:180px;height:150px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="3395931063"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 6 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 200*200 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:200px;height:200px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="1919197860"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 7 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 234*60 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:234px;height:60px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="2058798661"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 8 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 250*250 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:250px;height:250px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="9442464661"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 9 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="3675132665"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 10 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 300*250 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:300px;height:250px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="2198399463"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 11 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="3675132665"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 12 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 320*100 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:320px;height:100px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="8244933066"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 13 %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 320*50 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:320px;height:50px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="9582065461"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 14%>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 336*280 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:336px;height:280px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="6768199862"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 15%>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 468*60 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:468px;height:60px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="8105332263"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 16%>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 728*90 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="5291466661"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 17%>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 970*250 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:970px;height:250px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="5151865868"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% elsif @random_ad == 18%>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 970*90 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:970px;height:90px"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="6628599067"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<% else %>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-1376019144214390"
			     data-ad-slot="3675132665"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		<%end%>
	</center>
</div>

</div>



