<h1>INFO BLA BLA BLA</h1>
<p><%=@a%> || <%=@h%></p>


<% if (@show_ad==true) && (@a1 == 120) && (@h1== 240)%>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- 120*240 -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:120px;height:240px"
		     data-ad-client="ca-pub-1376019144214390"
		     data-ad-slot="7965731465"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<h1><%=@h1%> || <%=@a1%></h1>

<%end%>
