<div class="container">
	<p>Acceptable internet use policy - sample template
	Use of the internet by employees of [business name] is permitted and encouraged where such use supports the goals and objectives of the business.

	However, MelodyGenie has a policy for the use of the internet whereby employees must ensure that they:

	comply with current legislation
	use the internet in an acceptable way
	do not create unnecessary business risk to the company by their misuse of the internet
	Unacceptable behaviour
	In particular the following is deemed unacceptable use or behaviour by employees:

	visiting internet sites that contain obscene, hateful, pornographic or otherwise illegal material
	using the computer to perpetrate any form of fraud, or software, film or music piracy
	using the internet to send offensive or harassing material to other users
	downloading commercial software or any copyrighted materials belonging to third parties, unless this download is covered or permitted under a commercial agreement or other such licence
	hacking into unauthorised areas
	publishing defamatory and/or knowingly false material about MusicGenie, your colleagues and/or our customers on social networking sites, 'blogs' (online journals), 'wikis' and any online publishing format
	revealing confidential information about MusicGenie in a personal online posting, upload or transmission - including financial information and information relating to our customers, business plans, policies, staff and/or internal discussions
	undertaking deliberate activities that waste staff effort or networked resources
	introducing any form of malicious software into the corporate network
	Company-owned information held on third-party websites
	If you produce, collect and/or process business-related information in the course of your work, the information remains the property of MusicGenie. This includes such information stored on third-party websites such as webmail service providers and social networking sites, such as Facebook and LinkedIn.

	Monitoring
	MelodyGenie accepts that the use of the internet is a valuable business tool. However, misuse of this facility can have a negative impact upon employee productivity and the reputation of the business.

	In addition, all of the company's internet-related resources are provided for business purposes. Therefore, the company maintains the right to monitor the volume of internet and network traffic, together with the internet sites visited. The specific content of any transactions will not be monitored unless there is a suspicion of improper use.

	Sanctions
	Where it is believed that an employee has failed to comply with this policy, they will face the company's disciplinary procedure. If the employee is found to have breached the policy, they will face a disciplinary penalty ranging from a verbal warning to dismissal. The actual penalty applied will depend on factors such as the seriousness of the breach and the employee's disciplinary record.

	Agreement
	All company employees, contractors or temporary staff who have been granted the right to use the company's internet access are required to sign this agreement confirming their understanding and acceptance of this policy.</p>
</div>

<% if @a1 == 120.to_s && @h1 == 240.to_s   %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 120*240 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:120px;height:240px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="7965731465"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 120.to_s && @h1 == 600.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 120*600 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:120px;height:600px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="6488998265"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 125.to_s && @h1 == 125.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 125*125 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:125px;height:125px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="4872664265"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 160.to_s && @h1 == 600.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 160*600 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:160px;height:600px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="5012265068"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 180.to_s && @h1 == 150.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 180*150 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:180px;height:150px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="3395931063"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 200.to_s && @h1 == 200.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 200*200 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:200px;height:200px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="1919197860"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 234.to_s && @h1 == 60.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 234*60 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:234px;height:60px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="2058798661"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 250.to_s && @h1 == 250.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 250*250 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:250px;height:250px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="9442464661"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 300.to_s && @h1 == 1050.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 300*1050 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:300px;height:1050px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="3535531865"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 300.to_s && @h1 == 250.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 300*250 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:300px;height:250px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="2198399463"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 300.to_s && @h1 == 600.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 300*600 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:300px;height:600px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="9721666261"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 320.to_s && @h1 == 100.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 320*100 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:320px;height:100px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="8244933066"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 320.to_s && @h1 == 50.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 320*50 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:320px;height:50px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="9582065461"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 336.to_s && @h1 == 280.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 336*280 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:336px;height:280px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="6768199862"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 468.to_s && @h1 == 60.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 468*60 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:468px;height:60px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="8105332263"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 728.to_s && @h1 == 90.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 728*90 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="5291466661"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 970.to_s && @h1 == 250.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 970*250 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:970px;height:250px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="5151865868"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% elsif @a1 == 970.to_s && @h1 == 90.to_s %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 970*90 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:970px;height:90px"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="6628599067"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<% else %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- responsive -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-1376019144214390"
	     data-ad-slot="3675132665"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<%end%>







