@import "semantic-ui";
$dark: #1b1c1d;

body{
	background: $dark;
	color:white;

	.ui.text.container.main{
		h1{
			font-size: 4em;
			font-weight: normal;
		}

	
		text-align: center;
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}


	.search-result{
		
	}
}

.artist_profile_pic{
	width: 70px;
	height: 70px;
	border-radius:50%;
}