<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MelodyGenie | Discover Music!</title>
	<meta name="description" content="Find, Listen and Download new Music that you are going to love, based on Music that you already like for free! " />
</head>
<body>
	<%= yield %>
	<h1>lol</h1>
</body>
</html>